---
import Baselayout from "../Layouts/Baselayout.astro"
---
<Baselayout>
<div class="flex flex-col items-center content center gap-3">
    <h2 class="raleway-customfont">Introduction</h2>
    <section>Welcome to my portfolio! I specialize in
             developing efficient, scalable, and user-friendly applications, 
             blending strong fundamentals with modern technologies. 
             My skill set spans across multiple languages and frameworks, 
             including:
    </section>
    <ul>
        <li>Programming Languages: C, C++, Python, JavaScript, Java, TypeScript</li>
        <li>Web Development: React, Astro.js, HTML, CSS, Lucide Icons</li>
        <li>Core Concepts: Data Structures & Algorithms (DSA), Object-Oriented Programming (OOPs)</li>
    </ul>
    <section>Whether it's building responsive web applications, crafting optimized algorithms, 
        or developing robust backend systems, I enjoy solving complex problems and continuously 
        expanding my knowledge in the evolving tech landscape. 
    </section>
</div>
</Baselayout>

