---
import Baselayout from "../Layouts/Baselayout.astro"
const pagetitle= "Contact";
---
<Baselayout pagetitle={pagetitle}>
   <form action="https://formspree.io/f/your-form-id" method="POST" class="space-y-4">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Jhon Doe" class="w-full p-2 border rounded" required />
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="yourname@email.com" class="w-full p-2 border rounded" required />
    <label for="message">Write your query here:</label>
  <textarea name="message" placeholder="typing..." class="w-full p-2 border rounded" rows="5" required></textarea>
  <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Send</button>
</form> 
</Baselayout>
