---
import Baselayout from "../Layouts/Baselayout.astro"
---
<Baselayout>
<div class="flex justify-center">
<div class="ml-5 mt-7 flex flex-col text-center">
    <h1 class="raleway-customfont">ADITYA GUPTA</h1>
    <ul class="raleway-customfont non-italic flex  gap-4 justify-center-safe">
        <li>Frontend</li>
        <p>|</p>
        <li>Tailwind CSS</li>
        <p>|</p>
        <li>AstroJs</li>
        <p>|</p>
        <li>Lucide</li>
    </ul>
    <h3 class="raleway-customfont flex gap-4 justify-center-safe">
        <a href="" class="hover:text-[#FF7601]">View Resume</a>
        <p>|</p>
        <a href="/projects" class="hover:text-[#FF7601]">Checkout Projects</a>
        <p>|</p>
        <a href="/contact" class="hover:text-[#FF7601]">Contact</a></h3>
</div>
</div>
</Baselayout>
