---
import Baselayout from "../Layouts/Baselayout.astro"
import Projectcards from "../components/Projectcards.astro";
const pagetitle= "Projects";
---
<Baselayout pagetitle={pagetitle}>
<div class="grid grid-cols-3 grid-row">
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
    <Projectcards title="Password Generator" description="A password generator using React Hooks and with the feature of variable length and optional numbers and special characters" link= https://www.google.com/>
</div>
</Baselayout>
