---
import './src/styles/global.css';
import {Instagram, Linkedin, Github, Twitter} from '@lucide/astro';
---
<footer class="bg-[#000000] w-screen p-2">
    <section class="text-center my-1 text-[#FF7601]" >© 2025 Aditya Gupta. All rights reserved.
    </section>
    <div class="flex justify-center my-1 gap-7">
        <a href="https://www.instagram.com" target="_blank">
            <Instagram class="text-[#FF7601] hover:text-[#FCECDD]"/>
        </a>
        <a href="https://www.linkedin.com/in/asg27">
            <Linkedin class="text-[#FF7601] hover:text-[#FCECDD]"/>
        </a>
        <a href="https://www.x.com">
            <Twitter class="text-[#FF7601] hover:text-[#FCECDD]"/>
        </a>
        <a href="https://www.github.com/adityasgupta27">
            <Github class="text-[#FF7601] hover:text-[#FCECDD]"/>
        </a>
    </div>
    <section class="text-center my-1 text-[#FF7601]" >Built with Astro, Tailwind CSS & Lucide</section>
</footer> 


