---
import './src/styles/global.css';
---
<nav class="p-2.5 border flex justify-between">
    <h1 class="text-black text-4xl font-bold italic mx-4">ADITYA GUPTA</h1>
    <ul class="flex justify-center items-center gap-7">
        <li><a href="/" class="raleway-c text-[#aa66e5]  text-xl hover:text-[#8801ff] ">Home</a></li>
        <li><a href="/about" class="raleway-c text-[#aa66e5] text-xl hover:text-[#8801ff] ">About</a></li>
        <li><a href="/projects" class="raleway-c text-[#aa66e5] text-xl hover:text-[#8801ff] ">Projects</a></li>
        <li><a href="/contact" class="raleway-c text-[#aa66e5] text-xl hover:text-[#8801ff] ">Contact</a></li>
    </ul> 
</nav>

